<!DOCTYPE HTML>
<html>
  <head>
    <title>Vends &mdash; {% block title %}{% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" 
    integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>

  <body>
    <nav class="navbar navbar-default header">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#vendor-navbar-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Vends</a>
        </div>

        <div class="collapse navbar-collapse" id="vendor-navbar-collapse">
          {% if user.is_authenticated %}
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  Vend <span class="sr-only">(current)</span>
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="{% url 'vend:standard' %}">Standard</a></li>
                  {% if 'INS' in voucher_types %}
                    <li><a href="{% url 'vend:instant' %}">Instant</a></li>
                  {% endif %}
                </ul>
              </li>
              {% block report_link %}<li><a href="{% url 'vend:vends' %}">Vends</a></li>{% endblock %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
          {% endif %}
        </div>
      </div>
    </nav>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="container-fluid">
        {% block app_body %}
        {% endblock %}
    </div>

    <script type="text/javascript">
        $('form').submit(function() {
            var btn = $(this).find('.btn');
            btn.text('Wait...');
            btn.prop('disabled', true);
        });
    </script>

  </body>
</html>